<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <title>CMS Dashboard</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="dashboard_main">
                <div class="nav_bar">
                    <ul>
                        <li><a href="./about_club">About Club</a></li>
                        <li><a href="./Notice">Notice</a></li>
                        <li><a href="./Suggestions">Suggestions</a></li>
                        <li><a href="./photo_gallery">Photo gallery</a></li>
                        <li><a href="./download">Download</a></li>
                        <li><a href="./login">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
